<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>

    THERE IS SOME TEXT IN HERE!s


    {{>footer}}
</body>

</html>