<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>
    <h2>
        CidReader is a simple PDF viewer that allows you to read your documents with other people in real time.
    </h2>
    <p>
        Create a room, load a document, send the link to who you want. You will be able to visualize, change pages and point on your document with others
        in a high quality pdf rendering view.
    </p>
    <p>
        The project was born to provide sheet music to musicians playing in a networked musical performance. In fact one of the biggest issues of
        rehearsing together consisted in the difficulty of communication regarding the score while playing together on a distance.
    </p>
    <img src="/img/piano.jpg" width="500px"/>
    <p>
        CidReader is an attempt to provide basic interaction on what would become a single shared document between the performers.
        The first application was meant to be used in ad hoc environments and aimed at the best performance possible but was relatively difficult to use.
        It needed network setup and required that all the users had a personal copy of the document to be read.
    </p>
    <p>
        After some tests, and more with the Covid Pandemic, I decided that I could rethink the application to a more user friendly experience which resulted
        in the web application you are using this moment: CidReader Web.
    </p>
    <p>
        CidReader is developed by <a href="https://twitter.com/EnricoPietrocol">Enrico Pietrocola</a>. The project won a scholarship "Orio Carlini"
        from <a href="https://www.garr.it/it/">Consortium GARR</a>, the Italian National Research and Education network.
    </p>
    <p>
        Thanks to GARR the project is open source and available everybody.
    </p>
    <p>
        Others helped out in the project, I would like to thank:
    </p>
    <ul>
        <li>
            <b>Professor Giovanni Cospito</b> for all the help and possibilities he provided to me as a teacher and Project Tutor
        </li>
        <li>
            Everyone met at <a href="http://intermusicproject.eu/"><b>Intermusic</b></a>
        </li>
        <li>
            <a href="https://github.com/alesmit"><b>Alessandro Mitelli</b></a> for helping me out with the first part of the code when I knew nothing about Javascript and NodeJS
        </li>
        <li>
            <b>Dino Serafini</b> for writing the Software License Agreement
        </li>
        <li>
            <b>Nicolò Mariano</b> for the CidReader Logo
        </li>
    </ul>



    {{>footer}}
</body>

</html>