<!DOCTYPE html>

<html>

<head>
    <title>Frequently asked questions</title>

    <link rel="stylesheet" href="/css/styles.css">
    <!--<script src="https://www.w3.org/TR/wai-aria-practices-1.1/examples/disclosure/js/disclosureButton.js"></script>-->

</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>

    <dl class="faq">
        <dt>
            <button aria-expanded="false" aria-controls="faq1_desc">
                Will I be able to highlight/select text in my pdfs?
            </button>
        </dt>
        <dd>
            <p id="faq1_desc" class="desc">
                The text layer is working, users will be able to select text and copy it, it is covered by the pointing layer at the moment and therefore not accessible.It will be fixed as soon as possible.
            </p>
        </dd>

        <dd>
            <p id="faq11_desc" class="desc">
               First of all: THANK YOU.
                I am not an expert in fundraising but this button seems a good start. There will likely be a Kickstarter in the future to fund development and expand the servers.
            <form action="https://www.paypal.com/donate" method="post" target="_top">
                <input type="hidden" name="hosted_button_id" value="3DUZ26U5ZPJ4N" />
                <input type="image" src="https://www.paypalobjects.com/en_US/IT/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_IT/i/scr/pixel.gif" width="1" height="1" />
            </form>

            In alternative there's a QR too, in case you have bionic eyes:
            <a href="https://www.paypal.com/donate?hosted_button_id=3DUZ26U5ZPJ4N"> <img alt="" border="0" src="/img/qr.png" /></a>
            </p>
        </dd>
    </dl>

    {{>footer}}
</body>

</html>