<!DOCTYPE html>

<html>

<head>
    <title>Frequently asked questions</title>

    <link rel="stylesheet" href="/css/styles.css">
    <!--<script src="https://www.w3.org/TR/wai-aria-practices-1.1/examples/disclosure/js/disclosureButton.js"></script>-->

</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>

    <p>ciddistanceinteraction-at-gmail-dot-com</p>
    <a href="https://www.facebook.com/CidInteraction" target="_blank">Facebook</a>
    <a href="https://www.reddit.com/r/CidReaderPDF/" target="_blank">Reddit</a>
    <a href="https://github.com/EnricoPietrocola" target="_blank">GitHub</a>


    <div style="position: absolute; bottom: 0;" >
        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="hosted_button_id" value="3DUZ26U5ZPJ4N" />
            <input type="image" src="https://www.paypalobjects.com/en_US/IT/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_IT/i/scr/pixel.gif" width="1" height="1" />
        </form>
        <a href="https://www.paypal.com/donate?hosted_button_id=3DUZ26U5ZPJ4N"> <img alt="" border="0" src="/img/qr.png" /></a>
        {{>footer}}
    </div>


</body>

</html>