<!DOCTYPE html>

<html>

<head>
    <title>Doc</title>
    <link rel="stylesheet" href="/css/roomStyles.css">
</head>

<body>
    <canvas id="drawingLayer"></canvas>


    <script type="text/javascript" src="https://unpkg.com/pts@0.9.5/dist/pts.js"></script>
    <script type="text/javascript" src="/js/drawingLayer.js"></script>

{{>footer}}

</body>

</html>