<!DOCTYPE html>

<html>

<head>
    <title>Doc</title>
    <!--<link rel="icon" href="/img/weather.png">-->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>The cooperative realtime pdf interaction app</p>

        <div id="my_pdf_viewer">
            <input type="text" id="documentLink" name="Document URL">
            <button onclick="startDoc()" id="changeDocument">Load</button>

            <div id="canvas_container">
                <canvas id="pdf_renderer"></canvas>
            </div>
            <div id="navigation_controls">
                <button id="go_previous">Previous</button>
                <input id="current_page" value="1" type="number"/>
                <button id="go_next">Next</button>
            </div>
            <div id="zoom_controls">
                <button id="zoom_in">+</button>
                <button id="zoom_out">-</button>
            </div>
        </div>

    </div>

    {{>footer}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>
    <!--<script src="/js/app.js"></script>-->

    <script src ="/js/controls.js"> </script>

</body>

</html>