<!DOCTYPE html>

<html>

<head>
    <title>HomePage</title>
    <!--<link rel="icon" href="/img/weather.png">-->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Choose a name for your room and share its link</p>
        <div id="inputField"></div>
            <input type="text" id="roomNameInput" name="Room Name" size = "50">
            <button onclick="getRoom()" id="getRoom">Open room</button>
        </div>
    </div>

    {{>footer}}

    <script src ="/js/roomControls.js"> </script>
</body>

</html>