<!DOCTYPE html>

<html>

<head>
    <title>Doc</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<div class="main-content">
    {{>header}}
    {{>reader}}
</div>

{{>footer}}


</body>

</html>