<!DOCTYPE html>

<html>

<head>
    <title>Doc</title>
    <link rel="stylesheet" href="/css/roomStyles.css">
</head>

<body>

<div class="main-content">

    <div id = "header&input">
        {{>header}}

        <div id="pdf_input">
            <p>Paste the link of the document you would like to visualize</p>
            <input type="text" id="documentLink" name="Document URL" size = "30">
            <button onclick="startDoc()" id="changeDocument">Load</button>
        </div>
    </div>

    <div id="canvas_container">
        <canvas id="pdf_renderer"></canvas>
    </div>

    <div id="controls">
        <div id="navigation_controls">
            <button id="go_previous">Previous</button>
            <input id="current_page" value="1" type="number"/>
            <button id="go_next">Next</button>
        </div>
        <div id="zoom_controls">
            <button id="zoom_in">+</button>
            <button id="zoom_out">-</button>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>
    <script src="../js/readerControls.js"> </script>
</div>

{{>footer}}

</body>

</html>