<header>
    <link rel="icon" type="image/png" href="/img/favicon.png"/>
    <a href="/">
        <img src="/img/logo.png" alt="Logo" style="width:60px;height:60px;vertical-align:middle;float:left;">
        <h1>{{title}}</h1>
    </a>

    <a href="/faq">FAQ</a>
    <a href="/help">Help</a>
    <a href="/about">About</a>
    <a href="/contacts">Contacts</a>
</header>